.grid-container > :last-child {
  border-bottom: 0px;
}

.row {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.row:hover {
  background-color: #fafafa;
}
.row > .secondary-container > .trash {
  visibility: hidden;
}
.row:hover > .secondary-container > .trash {
  visibility: visible;
}
.main-container {
  display: flex;
  cursor: pointer;
}
.title {
  margin: 10px;
}

.time {
  margin: 10px;
}

.title .time {
  color: #333;
  font-size: 13pt;
  cursor: pointer;
}

.author {
  color: #999;
  margin: 10px;
}

.secondary-container {
  display: flex;
}

.trash {
  cursor: pointer;
}
